<h1>hack the world</h1>
<h2>you need a hack, we got it</h2>
<h3>enter your hack:</h3>
<div class="search-bar">
  <input class="form-control mr-sm-2 small-search-input" type="search" placeholder="hiking" aria-label="Search" name="query">
</div>
